.dashboard-tile{
  span{
    display: inline-block;
    text-align: center;
    padding: 30px 0;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    margin: auto;
    width: 100%;
    .main-txt{
      font-size: 28px;
    }

  }
}